//SOLID COLORS
$color-primary: #004266;
$color-primary-light: #009bff;
$color-background: #efefef;
$color-white: #FFFFFF;
$color1: #C8DAE6;
$color2: white;
$color3: #B8B8B8;
$color4: #FFCD41;
$color5: #2092A9;
$color6: #313131;
