@import url("https://fonts.googleapis.com/css?family=Lato");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #efefef;
  font-family: 'Lato', sans-serif;
  color: #313131; }

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #FFFFFF; }

.home__section-slider {
  background-color: #efefef;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .home__section-slider.hidden {
    visibility: hidden; }
  .home__section-slider .search-input {
    position: relative;
    top: 5%; }
    .home__section-slider .search-input #search {
      transition: all 0.15s;
      width: 36px;
      height: 36px;
      margin: 0 auto;
      display: block;
      box-sizing: border-box;
      position: relative;
      /* Focused state
                ****************/ }
      .home__section-slider .search-input #search.explode {
        transform: scale(1.4);
        opacity: 0; }
      .home__section-slider .search-input #search.open .after {
        cursor: pointer; }
      .home__section-slider .search-input #search.in {
        animation-name: expand; }
        .home__section-slider .search-input #search.in .after:before {
          animation-name: beforemagic; }
        .home__section-slider .search-input #search.in .after:after {
          animation-name: aftermagic; }
      .home__section-slider .search-input #search.close {
        animation-name: expand; }
        .home__section-slider .search-input #search.close .after:before {
          animation-name: beforemagic; }
        .home__section-slider .search-input #search.close .after:after {
          animation-name: aftermagic; }
      .home__section-slider .search-input #search.open {
        width: 250px;
        color: #fff; }
        .home__section-slider .search-input #search.open .after {
          z-index: 3; }
        .home__section-slider .search-input #search.open .after:before {
          width: 20px;
          top: 9px;
          right: 13px;
          opacity: 1; }
        .home__section-slider .search-input #search.open .after:after {
          width: 20px;
          bottom: 10px;
          right: 15px; }
      .home__section-slider .search-input #search input {
        width: 100%;
        background: none;
        border: 3px solid #313131;
        border-radius: 26px;
        box-sizing: border-box;
        padding: 5px 15px 7px;
        font-size: 14px;
        color: #a0a0a0;
        z-index: 2;
        position: relative; }
        .home__section-slider .search-input #search input[type="submit"] {
          display: none !important; }
        .home__section-slider .search-input #search input:focus {
          outline: none; }
      .home__section-slider .search-input #search .after {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 1px;
        right: 0;
        z-index: 1;
        cursor: pointer; }
        .home__section-slider .search-input #search .after:before, .home__section-slider .search-input #search .after:after {
          content: '';
          width: 13px;
          height: 3px;
          background-color: #313131;
          border-radius: 3px;
          position: absolute;
          transform-origin: 100% 100%; }
        .home__section-slider .search-input #search .after:after {
          bottom: -3px;
          right: -3px;
          transform: rotate(45deg); }
        .home__section-slider .search-input #search .after:before {
          top: -3px;
          right: -3px;
          transform: rotate(-45deg);
          opacity: 0; }
    .home__section-slider .search-input form,
    .home__section-slider .search-input form .after,
    .home__section-slider .search-input form .after:before,
    .home__section-slider .search-input form .after:after {
      animation-duration: 1.1s;
      animation-fill-mode: forwards; }
    .home__section-slider .search-input form.close,
    .home__section-slider .search-input form.close .after,
    .home__section-slider .search-input form.close .after:before,
    .home__section-slider .search-input form.close .after:after {
      animation-direction: reverse; }
  .home__section-slider .current-weather-wrapper {
    height: 50%;
    color: #313131;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .home__section-slider .current-weather-wrapper .weather-info {
      width: 80%;
      height: 190px;
      margin: 10px;
      padding: 5px; }
      .home__section-slider .current-weather-wrapper .weather-info .weather-card {
        margin: auto; }
        .home__section-slider .current-weather-wrapper .weather-info .weather-card .weather-icon {
          width: 200px;
          margin: -10px -30px 0 0; }
      .home__section-slider .current-weather-wrapper .weather-info .city-name {
        font-size: 40px; }
      .home__section-slider .current-weather-wrapper .weather-info .actual-location {
        font-size: 20px; }
      .home__section-slider .current-weather-wrapper .weather-info .weather-description {
        font-size: 30px; }
  .home__section-slider .weather-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .home__section-slider .weather-wrapper .weather-card {
      width: 200px; }
      .home__section-slider .weather-wrapper .weather-card .weather-icon {
        margin: 0 -10px; }
        .home__section-slider .weather-wrapper .weather-card .weather-icon.sun-01d {
          margin: 0 -35px;
          width: 120px;
          padding-top: 20px; }
    .home__section-slider .weather-wrapper .weather-description {
      width: 100%;
      font-size: 15px;
      color: #313131;
      text-align: center;
      position: absolute; }
  .home__section-slider .weather-card {
    margin: 20px 5px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 270px;
    animation: appear 500ms ease-out forwards; }
    .home__section-slider .weather-card h1 {
      position: absolute;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 50px;
      color: #B8B8B8;
      bottom: 18px;
      left: 20px;
      opacity: 0;
      transform: translateX(150px);
      animation: title-appear 500ms ease-out 500ms forwards; }
    .home__section-slider .weather-card p {
      position: absolute;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 28px;
      color: #4b4b4b;
      bottom: 0;
      left: 35px;
      animation: title-appear 1s ease-out 500ms forwards; }
  .home__section-slider .weather-icon {
    position: relative;
    width: 140px;
    top: 0;
    float: right;
    margin: 0 64px 0 0;
    animation: weather-icon-move 5s ease-in-out infinite; }
  .home__section-slider p {
    text-align: center;
    color: #fff;
    font-size: 14px; }

.home__test-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem; }

/** Magnifier animation
************************/
@keyframes aftermagic {
  0% { }
  10% {
    width: 24px;
    bottom: -10px;
    right: -10px; }
  15% {
    opacity: 1; }
  35% {
    width: 13px;
    bottom: -3px;
    right: -3px;
    opacity: 0; }
  25% {
    opacity: 0; }
  64% {
    opacity: 0; }
  65% {
    opacity: 1;
    width: 13px;
    bottom: -2px;
    right: -3px; }
  75% {
    width: 30px;
    bottom: 4px;
    right: 10px; }
  90% {
    width: 20px;
    bottom: 10px;
    right: 15px; }
  100% {
    width: 20px;
    bottom: 10px;
    right: 15px; } }

/** Magnifier animation
************************/
@keyframes beforemagic {
  0% { }
  50% {
    opacity: 0; }
  55% {
    opacity: 1;
    width: 13px;
    top: -4px;
    right: -3px; }
  65% {
    width: 30px;
    top: 6px;
    right: 10px; }
  80% {
    width: 20px;
    top: 9px;
    right: 13px; }
  100% {
    width: 20px;
    top: 9px;
    right: 13px;
    opacity: 1; } }

/** Magnifier animation
************************/
@keyframes expand {
  0% {
    color: transparent; }
  20% {
    width: 36px; }
  45% {
    width: 250px; }
  99% {
    color: transparent; }
  100% {
    width: 250px;
    color: #fff; } }

hr {
  background-color: #fff;
  padding: 0;
  margin: 80px; }
  hr.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

.text {
  letter-spacing: 1px;
  text-align: center;
  margin-left: -43px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 11px;
  color: #a0a0a0;
  width: 200px; }

/** Page loading element
************************/
.loading {
  transition: opacity .175s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden; }
  .loading.active {
    opacity: 1;
    height: auto; }
  .loading .preloader {
    position: absolute;
    margin-left: -55px;
    margin-top: -100px;
    height: 110px;
    width: 110px;
    left: 50%;
    top: 50%;
    /* Rain */ }
    .loading .preloader svg {
      width: 110px;
      height: 110px; }
    .loading .preloader path {
      stroke: #9ea1a4;
      stroke-width: 0.25;
      fill: #241E20; }
    .loading .preloader #cloud {
      position: relative;
      z-index: 2; }
    .loading .preloader #cloud path {
      fill: #efefef; }
    .loading .preloader #sun {
      margin-left: -10px;
      margin-top: 6px;
      opacity: 0;
      width: 60px;
      height: 60px;
      position: absolute;
      left: 45px;
      top: 15px;
      z-index: 1;
      animation-name: rotate;
      animation-duration: 16000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
    .loading .preloader #sun path {
      stroke-width: 0.18;
      fill: #9ea1a4; }

@keyframes rotate {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
    .loading .preloader .rain {
      position: absolute;
      width: 70px;
      height: 70px;
      margin-top: -32px;
      margin-left: 19px;
      z-index: 2px; }
    .loading .preloader .drop {
      opacity: 1;
      background: #9ea1a4;
      display: block;
      float: left;
      width: 3px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0px 0px 6px 6px;
      animation-name: drop;
      animation-duration: 350ms;
      animation-iteration-count: infinite; }
    .loading .preloader .drop:nth-child(1) {
      animation-delay: -130ms; }
    .loading .preloader .drop:nth-child(2) {
      animation-delay: -240ms; }
    .loading .preloader .drop:nth-child(3) {
      animation-delay: -390ms; }
    .loading .preloader .drop:nth-child(4) {
      animation-delay: -525ms; }
    .loading .preloader .drop:nth-child(5) {
      animation-delay: -640ms; }
    .loading .preloader .drop:nth-child(6) {
      animation-delay: -790ms; }
    .loading .preloader .drop:nth-child(7) {
      animation-delay: -900ms; }
    .loading .preloader .drop:nth-child(8) {
      animation-delay: -1050ms; }
    .loading .preloader .drop:nth-child(9) {
      animation-delay: -1130ms; }
    .loading .preloader .drop:nth-child(10) {
      animation-delay: -1300ms; }

@keyframes drop {
  50% {
    height: 45px;
    opacity: 0; }
  51% {
    opacity: 0; }
  100% {
    height: 1px;
    opacity: 0; } }

@keyframes weather-icon-move {
  50% {
    transform: translateY(-8px); } }

@keyframes appear {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.05); }
  75% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }

@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

@media (max-width: 400px) {
  .current-weather-wrapper {
    height: 85% !important; } }
