{{> header }}
<section class="home__section-slider">
    <div class="search-input">
        <form>
            <input type="text" />
            <div class="after"></div>
            <input type="submit" />
        </form>
    </div>
    <h4>&nbsp;</h4>
    {{! home__test-div }}
    <div class="current-weather-wrapper">
        {{> loading }}
        {{! <h1>Hello World</h1> }}
        <div class="weather-info">
            <div class="city-name">
                {{ cityName }}
            </div>
            <div class="actual-location">
                {{ location }}
            </div>
            <div class="weather-description">
                {{ weatherDescription }}
            </div>
            <div class="weather-card">
                <img class="weather-icon" src="../assets/weather-icons/50d.svg">
                <h1>14º</h1>
                <p>Now</p>
            </div>
        </div>
    </div>
    {{! <div class="current-weather-wrapper">
    </div> }}
    <div class="weather-wrapper">
    {{#weatherList}}
        <div class="weather-card london">
            <img class="weather-icon" src="../assets/weather-icons/{{ icon }}.svg">
            <h1>{{ temperature }}º</h1>
            <p>{{ unixTime }} </p>
        </div>
    {{/weatherList}}
    </div>
</section>
{{> footer }}